@media	screen and (max-width: 1000px){
	
	.line {
		top: 20%;
		left: 0%;
		align-items: center;
		font-size: 16px;
		text-align: center;
	}
	.content{
		top: 38vh;
	}
	.fadeinup{
		font-size: 6vh;
		text-align: center;
	}
	a {
		left: -62.5vh;
		width: 60;
		align-items: center;
		text-align: center;
		font-size: 1.5vh;
		display: inline-block;
		position: relative;
		top: -10px;
		padding: 10px; 		
  		
	}
}


